a {
    text-decoration: none;
}

main {
    text-align: center;
}

.paper {
    margin: auto;
    max-width: 50%;
    padding: 1rem;
    text-align: center;
}

.actionButton {
    margin: 1rem !important;
}

.actionButtonIcon {
    margin-left: 1rem;
}
